body {
    font-family: "JetBrains Mono", monospace;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #ECECEC;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 800px;
    margin: auto;
}

#task-form {
    width: auto;
    margin: 0 auto 20px;
}

#task-input {
    width: 250px;
    margin-right: 10px;
    padding: 5px;
}

#task-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
}

.task-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    width: 300px;
    height: 100px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
}
.task-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 0.8em;
}

.task-name {
    flex-grow: 1;
}

.task-timer {
    margin-right: 10px;
}

.task-controls {
    display: flex;
    justify-content: space-around;
}
.task-controls i {
    margin-left: 10px;
    cursor: pointer;
}
.task-controls i:hover {
    transform: scale(1.2);
    cursor: pointer;
  }

.task-timer {
    margin-top: 10px;
    font-size: 1.7em;
}

button {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 38px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  /* position: relative; */
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

button:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

button:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

input {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 38px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    /* position: relative; */
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
  }

  input:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  }


  @media (max-width: 600px) {
    body {
        font-size: 1.5em; /* Reduce font size */
    }

    .container {
        width: 100%; /* Increase container width */
    }

    #task-list {
        width: 90%; /* Increase task list width */
    }

    .task-card {
        width: 100%; /* Increase task card width */
        height: auto; /* Make height auto */
    }
}

@media (max-width: 380px) {
    body {
        font-size: 1.5em; /* Reduce font size */
    }

    .container {
        width: 100%; /* Increase container width */
    }

    #task-list {
        width: 90%; /* Increase task list width */
    }

    .task-card {
        width: 90%; /* Increase task card width */
        height: auto; /* Make height auto */
    }

    .task-controls i {
        margin-left: 17px;
        cursor: pointer;
    }
}